Repository juliolmuller/american-election: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,css,scss}": "prettier --write"
}

chore(deps): upgrade `react` version from v17 to v19
  bun.lockb
  package.json
  src/index.jsx
Due: eslint --fix, prettier --write

chore: update `husky` scripts to latest standard
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): add referenced packages to dependencies list
  bun.lockb
  package.json
Due: prettier --write

chore: remove unnecessary linebreaks in license
  LICENSE
Due: none

chore: remove linting config
  bun.lock
  bun.lockb
  eslint.config.mjs
  package.json
Due: prettier --write

refactor: align Git Hooks configurations
  .commitlintrc
  .lintstagedrc
  commitlint.config.js
Due: eslint --fix

chore: enforce linebreak style
  .gitattributes
Due: none

refactor: update file extension
  vite.config.js
Due: eslint --fix

feat: setup ESlint config
  bun.lock
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

refactor: lint source code
  src/components/App.jsx
  src/data.js
Due: eslint --fix

chore: configure `commitizen` in the project
  .czrc
  bun.lock
  package.json
Due: prettier --write

chore: update linter
  bun.lock
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write
